body {
    padding-top: 5rem;
    background-color: #0080ff;
}
.jumbotron {
    background-color: #0080ff;
    color: #000000;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    position: relative;
}
.jumbotron .profile-img {
    max-width: 150px; 
    height: auto;
    position: absolute;
    right: 1rem; 
    bottom: 1rem; 
    border: 5px solid #160505; 
    border-radius: 50%; 
}
@media (max-width: 768px) {
    .jumbotron .profile-img {
        position: static;
        max-width: 100%;
        margin-top: 20px; 
        margin-bottom: 20px; 
        border: none; 
        border-radius: 0; 
    }
}

.skill-card {
    border: 1px solid #0c6dff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
